body {
    background-color: #c1c1c126;
}
.modal-header {
    background-color: #5cb85c;
}
.modal-title {
    color: #ffffff;
}
.btn-primary {
    width: 120px;
}
.font-size-small {
    font-size: small;
}
.square {
    border: 0.5px solid grey;
    height: 30px;
    width: 30px;
}
.execute {
  background-color: #28a745;
}
.waiting {
  background-color: #ffc107;
}
.overload {
    background-color: #dc3545;
}